<ion-header class="header" [@flyInOutTop]="tabsShow">
  <ion-toolbar>
    <ion-title class="img-container">
      <img class="header-img" src="assets/fs-bnb-logo.png">
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="title">
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="openCloseTabs($event)" class="background-colour">

  <ion-spinner *ngIf="loading" class="loading" name="dots"></ion-spinner>

  <div style="margin-top:40%; text-align: center" *ngIf="!chats.length&&!loading">
    <h2>No chats yet..</h2>
  </div>

  <div *ngIf="!loading" class="content-position">

    <ion-refresher style="position:relative;" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-item detail *ngFor="let chat of chats" (click)="openChat(chat)">
        <ion-avatar class="avatar" slot="start">
          <img src="{{chat.providerImgUrl}}">
        </ion-avatar>
        <ion-label>
          <h3><strong>{{chat.providerName}}</strong></h3>
          <p>{{chat.messages[chat.messages.length-1].text}}</p>
          <p style="position: absolute; right:30px;">{{chat.messages[chat.messages.length-1].dateCreated.slice(0,10)}}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>