.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
}

.slides {
  height: 35vh;
}

.swiper-pagination-bullet-active {
  background: white;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.location {
  margin: 3px auto;
  color: rgb(0, 132, 137) !important;
}

.title {
  margin: 3px auto;
}

.host-text {
  display: flex;
  margin-top: -7px;
}

.divider {
  background-color: rgb(240, 240, 240);
  padding: 3px 20px;
}

.price {
  margin: 3px auto;
  font-size: 0.9rem;
}

.date-item {
  height: 65px;
  padding: 17px 10px;
}

.date-icon {
  font-size: 2rem;
}

.booking-btn {
  margin: auto;
  width: 100%;
  height: 50px;
  color: white;
  --background: rgb(0, 132, 137);
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: bold;
  --background-activated: white;
  --color-activated: rgb(0, 132, 137);
}
