<ion-header>
  <ion-toolbar class="toolbar-container">
    <div class="flex-toolbar">
      <div class="back-arrow" (click)="onDismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <div class="header">
        <ion-title>Profile image</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background-colour">
  <form style="position:relative; text-align:center; margin-top:25%;" #form="ngForm" (ngSubmit)="onSubmit()">

    <input style="display: none" #fileInput type="file" name="avatar" (change)="onFileChange($event)" />

    <div>
      <div *ngIf="fileAdded" class="image image-container" (click)="expandedImage = image.image">
        <img class="img-upload" [src]="image">
      </div>

      <div *ngIf="!fileAdded && user.imgUrl != null" class="image image-container" title="Add Image"
        (click)="fileInput.click()">
        <img class="img-upload" [src]="user.imgUrl">
      </div>
    </div>

    <ion-button [disabled]="!fileAdded" style="width:85%" type="submit">Upload</ion-button>
  </form>
</ion-content>