.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.text {
  margin-bottom: 5px;
}

.buttons{
  display: grid;
  grid-template-columns: 50% 50%;
}

.accept{
  background-color: rgba(0, 132, 137, 0.7);
}

.reject{
  background-color: rgba(0, 132, 137, 0.7);
  --color-activated: rgb(0, 132, 137);
}