<ion-header>
  <ion-toolbar class="toolbar-container">
    <div class="flex-toolbar">
      <div class="back-arrow" (click)="navBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <ion-title>{{listing.name}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background-colour">

  <ion-spinner *ngIf="loading" class="loading" name="dots"></ion-spinner>

  <div *ngIf="!loading">
    <ion-slides class="slides" pager="true">
      <ion-slide *ngFor="let img of listing.imgUrl">
        <ion-spinner style="
          z-index: -1;
          position: absolute;
          margin-right: auto;
          margin-left: auto;" *ngIf="!img.loaded" name="dots"></ion-spinner>
        <img style="z-index: 1" src="{{img}}" />
      </ion-slide>
    </ion-slides>

    <ion-item>
      <div style="padding: 10px 20px 10px 20px">
        <h2>{{listing.name}}</h2>
        <p>{{listing.location}}</p>
        <p>----</p>
        <h3>{{listing.shortDescription}}</h3>
        <p style="font-size: 0.9rem">{{listing.guests}} guests · {{listing.beds}} bedrooms · {{listing.baths}} baths</p>
        <div style="margin: 35px auto">
          <p>
            {{listing.longDescription}}
          </p>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div>
        <div style="padding: 10px 20px 10px 20px">
          <h3>Photos</h3>
        </div>
        <div>
          <div *ngFor="let img of listing.imgUrl let i=index">
            <ion-spinner style="
                z-index: 0;
                position: absolute;
                margin:auto" name="dots"></ion-spinner>
            <img style="z-index: 2" src="{{img}}" *ngIf="i < 3 || showPhotos" />
          </div>
        </div>
        <ion-button fill="outline" class="photos-btn" (click)="showPhotos = !showPhotos">
          <div *ngIf="!showPhotos">See all photos</div>
          <div *ngIf="showPhotos">See less photos</div>
        </ion-button>
      </div>
    </ion-item>
    <ion-item>
      <div style="width:100%">
        <div style="padding: 10px 20px 10px 20px">
          <h3>Amenities</h3>
          <div [ngClass]="{ 'open': showAmenities, 'amenities': !showAmenities  }">
            <p *ngFor="let item of amenities">{{item}}</p>
          </div>
        </div>
        <ion-button fill="outline" class="photos-btn" (click)="showAmenities = !showAmenities">
          <div *ngIf="!showAmenities">See all amenities</div>
          <div *ngIf=" showAmenities">See less amenities</div>
        </ion-button>
      </div>
    </ion-item>
  </div>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-12 style="padding-left: 40px;padding-right: 40px;">
        <ion-button class="booking-btn" (click)="navToBooking()"><strong>View Bookings</strong>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>