<h1>
  Welcome To FS BnB Admin Panel!
</h1>

<br> <br>

<div class="double-chart-container">
  <div class="chart-container">
    <strong class="graph-title">Monthly Rental Income</strong>
    <canvas style="width: 100%;" baseChart [datasets]="rentalGraphData" [labels]="rentalGraphLabels"
      [options]="rentalGraphOptions" [legend]="rentalGraphLegend" [chartType]="rentalGraphType"
      (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <div class="chart-container">
    <strong class="graph-title">{{randomBookingLength.title}}</strong>
    <canvas style="width: 100%;" baseChart [datasets]="randomBookingLength.data" [labels]="randomBookingLength.labels"
      [options]="randomBookingLength.options" [legend]="randomBookingLength.legend"
      [chartType]="randomBookingLength.type" (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>