<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" class="background-colour">

  <div>

    <ion-refresher style="position:relative;" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-item detail *ngFor="let chat of chats" (click)="openChat(chat)">
        <ion-avatar class="avatar" slot="start">
          <img src="{{chat.providerImgUrl}}">
        </ion-avatar>
        <ion-label>
          <div style="display: flex">
            <h3><strong>{{chat.providerUserName}}</strong></h3>
            <p>{{chat.messages[0].dateTimeCreate}}</p>
          </div>
          <p>{{chat.messages[0].text}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>