<h3>Provider Listings</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Provider ID</th>
        <th>Name</th>
        <th>Short Description</th>
        <th>Guests</th>
        <th>Beds</th>
        <th>Baths</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let listing of listings" (click)="goToBookings(listing.id)">
        <td><img class="avatar" [src]="listing.imgUrl[0]"></td>
        <td>{{listing.id}}</td>
        <td>{{listing.providerId}}</td>
        <td>{{listing.name}}</td>
        <td>{{listing.shortDescription}}</td>
        <td>{{listing.guests}}</td>
        <td>{{listing.beds}}</td>
        <td>{{listing.baths}}</td>
        <td>{{listing.price}}</td>
      </tr>
    </tbody>
  </table>
</div>